@import "config.variables";
@import "config.functions";

$popover-caret: gutter(sm);

/**
 * <Popover>
 */

.Popover {
}

.Popover--isOpened {
  position: relative;
  z-index: 1000;
}

.Popover--left {
  left: 2.5em;
}

.Popover--top {
  top: 2.5em;
}

.Popover--inline {
  display: inline-block;
}

/**
 * <PopoverToggle>
 */

.Popover-toggle {
  cursor: pointer;
}

/**
 * <PopoverBox>
 */

.Popover-box {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  box-shadow: $box-shadow;

  &--isVisible {
    visibility: visible;
  }

  &::after {
    position: absolute;
    display: block;
    width: $popover-caret;
    height: $popover-caret;
    content: "";
  }
}

.Popover-box--width-80 {
  width: 80%;
}

.Popover-box--width-auto {
  width: auto;
}

.Popover-box--width-sm {
  min-width: 21rem;
}

.Popover-box--width-md {
  min-width: 36rem;
}

.Popover-box--width-xl {
  min-width: 51rem;
}
// top left

.Popover-box--position-top.Popover-box--position-left {
  bottom: calc(100% + #{$popover-caret} + #{gutter(xs)});
  left: 0;

  &::after {
    top: 100%;
    left: 0;
    border-top: solid $popover-caret #fff;
    border-bottom: solid $popover-caret transparent;
    border-right: solid $popover-caret transparent;
  }
}

.Popover--hasActions .Popover-box--position-top.Popover-box--position-left::after {
  border-top: solid $popover-caret $color-accent--2;
}

// top right

.Popover-box--position-top.Popover-box--position-right {
  bottom: calc(100% + #{$popover-caret} + #{gutter(xs)});
  right: 0;

  &::after {
    top: 100%;
    right: 0;
    border-top: solid $popover-caret #fff;
    border-bottom: solid $popover-caret transparent;
    border-left: solid $popover-caret transparent;
  }
}

.Popover--hasActions .Popover-box--position-top.Popover-box--position-right::after {
  border-top: solid $popover-caret $color-accent--2;
}

// bottom left

.Popover-box--position-bottom.Popover-box--position-left {
  top: calc(100% + #{$popover-caret} + #{gutter(xs)});
  left: 0;

  &::after {
    bottom: 100%;
    left: 0;
    border-bottom: solid $popover-caret #fff;
    border-top: solid $popover-caret transparent;
    border-right: solid $popover-caret transparent;
  }
}

// bottom right

.Popover-box--position-bottom.Popover-box--position-right {
  top: calc(100% + #{$popover-caret} + #{gutter(xs)});
  right: 0;

  &::after {
    bottom: 100%;
    right: 0;
    border-bottom: solid $popover-caret #fff;
    border-top: solid $popover-caret transparent;
    border-left: solid $popover-caret transparent;
  }
}

/**
 * <PopoverBoxContent>
 */

.Popover--size-sm .Popover-box-content {
  padding: gutter(sm);
}

.Popover--size-md .Popover-box-content {
  padding: gutter(md);
}

.Popover--size-lg .Popover-box-content {
  padding: gutter(lg);
}

.Popover-box-content .Popover-box-external-reference {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Popover-box-content .Popover-box-external-reference .Icon {
  display: flex;
  cursor: pointer;
}

.Popover-box-content .Popover-box-external-reference input{
  width: 100%;

  &:active,
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grey--5;
  }
}

.Popover-box-content .Popover-box-edit-term {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Popover-box-content .Popover-box-edit-term .Icon {
  display: flex;
  cursor: pointer;
}

.Popover-box-content .Popover-box-edit-term input{
  width: 100%;

  &:active,
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grey--5;
  }
}

.Popover-box-content .Popover-box-problems {
  max-height: 21rem;
  overflow-y: scroll;
}

/**
 * <PopoverBoxActions>
 */

.Popover-box-actions {
  width: auto;
  white-space: nowrap;
}

.Popover-box-actions--nav {
  min-width: 1px;
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
}

.Popover-box--highlight-text {
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(sm);
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
}
