@import "config.variables";
@import "config.functions";

.Dropdown {
  position: relative;
}

.Dropdown-menu {
  position: absolute;
  top: calc(100% + #{gutter(sm)});
  z-index: 1000;
}

.Dropdown-menu--left {
  left: 0;
}

.Dropdown-menu--right {
  right: 0;
}
