@import "config.variables";
@import "config.functions";

/**
 * <Customer />
 * A simple wrapper for the customer Detail page.
 */

.CustomerPage {
  // overriding container min width for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}

.CustomerPage-customer {}

.CustomerPage-name {
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
  margin: gutter(md) 0;
}
