@import "config.variables";
@import "config.functions";

/**
 * <Capability />
 * Chip-style interactive capability (i.e. taxonomy) tags for problems.
 */

.Capability {
  display: flex;
  background-color: rgba($color-accent--2, 0.2);
  padding: gutter(xxs) gutter(xs);

  &.Capability-md .Capability-term {
    font-size: font-size(md);
  }
}

.Capability-term {
  font-size: font-size(sm);
  font-weight: 700;
  color: $color-grey--3;
}
