@import "config.variables";
@import "config.functions";

/**
 * <SearchResults />
 *
 * This houses the search results for a search sidebar.
 */

.SearchResults {
  padding: 0 gutter(md);
  margin-bottom: 3em;
  background-color: #ffffff;
}

/**
 * <SearchResult />
 *
 * The main search result component.
 */

.SearchResult {
  padding: gutter(sm) gutter(xxs);
  margin-top: gutter(xs);
  border-bottom: 1px solid $color-grey--7;
}

.SearchResult-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: gutter(xxs) 0;
}

.SearchResult-result-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.SearchResult-result-info-meta {
  display: flex;
}

.SearchResult-result-expand {
  display: flex;
}

.SearchResult-term {
  font-weight: 700;
  margin-top: gutter(xxs);
}

.SearchResult-term--hover {
  cursor: pointer;
  .Button { text-align: left; }
  .Icon {
    display: none;
    padding-left: gutter(xxs);
  }
  &:hover {
    color: $color-accent--2;
    .Icon { display: inline-block; }
  }
}

.SearchResult-source {
  font-size: font-size(xxs);
  font-weight: 700;
}

.SearchResult-breadcrumbs {
  font-size: font-size(xxs);
  font-style: italic;
  color: $color-grey--3;
  padding-left: gutter(xs);
  padding-right: gutter(sm);

  // truncase with ellipsis
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
