@import "config.variables";

.Loader {
}

.Loader--isFullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.Loader--isCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loader--isHeight100 {
  height: 100%;
}

.Loader--isAbsolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// MUI override
.Loader .MuiCircularProgress-colorPrimary {
  color: $color-accent--2;
}
