@import "config.variables";
@import "config.functions";

.Radio {
}

.Radio-input {
  position: absolute;
  visibility: hidden;
  margin-left: -9999px;
}

.Radio--isInline {
  display: inline-flex;
}

.Radio-label--isInline {
  padding-right: gutter(xxs);
}

.Radio-label {
  font-size: font-size(sm);
  cursor: pointer;
  outline: none;
  user-select: none;
}

.Radio-label-text {
  display: inline-block;
  margin-left: gutter(xs);
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}
