@import "config.variables";
@import "config.functions";

$graph-details-min-width: 20rem;
$graph-min-height: 30rem;

/**
 * <GraphCyWrapper />
 *
 * A simple wrapper for the cytoscape visualization.
 */
.GraphCyWrapper {
  position: relative;
  flex-grow: 1;
  min-height: $graph-min-height;
  overflow: hidden;
}


/**
 * <GraphDetails />
 *
 * A panel to hold additional information about a graph visualization node.
 */
.Graph-nodeDetails {
  position: absolute;
  top: gutter(sm);
  right: gutter(sm);
  min-width: $graph-details-min-width;
}

.Graph-nodeDetails-type {
  color: $color-grey--3;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-weight: 700;
  margin-bottom: gutter(xxs);
}

.Graph-nodeDetails-content {}

.Graph-nodeDetails-content-title {
  font-weight: 700;
  line-height: line-height(lg);
}

.Graph-nodeDetails-content-title-icon {
  display: inline-block;
  position: relative;
  left: gutter(xxs);
  bottom: gutter(xxs);
}

.Graph-nodeDetails-meta {
  color: $color-grey--5;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  text-transform: uppercase;
  font-weight: 700;
  padding-top: gutter(xs);
}
