@import "config.variables";
@import "config.functions";

/**
 * <ProblemPage />
 * A simple wrapper for the Problem Detail page.
 */

.ProblemPage {
  // overriding container min width for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}

.ProblemPage-problem {
  width: 100%;
  margin: gutter(md) 0;
}
