@import "config.variables";
@import "config.functions";

.SidebarNavigation {
}

.SidebarNavigation-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.SidebarNavigation-item {
  margin: 0 0 gutter(sm) 0;
  padding: 0;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.SidebarNavigation-link {
  display: block;
  padding: gutter(md) gutter(lg);
  color: #fff;
}

.SidebarNavigation-item:hover .SidebarNavigation-link {
  color: #fff;
}

.SidebarNavigation-item.is-active .SidebarNavigation-link {
  color: #fff;
  background-color: $color-grey--3;
}

.SidebarNavigation-item.is-active {
  color: #fff;
  background-color: $color-grey--3;
}

.SidebarNavigation-subitems {
  list-style: none;
  margin: 0;
  padding: 0;
}

.SidebarNavigation-subitem {
  font-size: font-size(xs);
}

.SidebarNavigation-subitem.is-active .SidebarNavigation-sublink {
  background-color: lighten($color-grey--3, 10%);
}

.SidebarNavigation-sublink {
  display: block;
  padding: gutter(sm) gutter(xl);
  color: #fff;
}

.SidebarNavigation-subitem:hover .SidebarNavigation-sublink {
  color: #fff;
}
