@import "config.variables";
@import "config.functions";

.CapabilityCard .Card-card-header-title {
  font-family: $font-primary;
  text-transform: none;
}

.CapabilityCard-content {
  color: $color-grey--3;
}


.CapabilityCard-content-title {
  color: $color-accent--2;
  font-weight: 700;
  line-height: line-height(md);
  padding-right: gutter(md);
  margin-bottom: gutter(xxs);
}

.CapabilityCard-content-tree {
  margin: gutter(sm) 0;
}

.CapabilityCard-content-links {
  color: $color-accent--2;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  text-transform: uppercase;
}
