@import "config.variables";
@import "config.functions";

.Badge {
  font-size: font-size(xxs);
  border-radius: $border-radius;
  padding: gutter(xxs) gutter(xs);
  white-space: nowrap;
}

.Badge--appearance-primary {
  color: #fff;
  background: $color-accent--2;
}

.Badge--appearance-secondary {
  background: $color-grey--5;
}

.Badge + .Badge {
  margin-left: gutter(xs);
}
