@import "config.variables";
@import "config.functions";

/**
 * <ArchitectureToolbar />
 * The toolbar containing architecture tools
 * and actionable controls (delete, submit, etc.)
 */

.Architecture-toolbar {
  border-bottom: solid 0.1rem $color-grey--6;
}

.Architecture-toolbar .Toolbar {
  z-index: initial;
}
