@import "config.variables";
@import "config.functions";

/**
 * <Button/>
 *
 * Renders buttons and other things that can appear as buttons. See
 * src/stories/Button.jsx for implementations.
 */

.Button {
  margin: 0;
  padding: 0.6em 1.5em;
  font-family: $font-secondary;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  cursor: pointer;
  transition: background 250ms;
}

.Button:active,
.Button:focus {
  outline: none;
}

.Button--display-inlineBlock {
  display: inline-block;
}

.Button--display-block {
  display: block;
  width: 100%;
}

.Button--display-flex {
  display: flex;
  align-items: center;
}

.Button--appearance-primary {
  color: #fff;
  background-color: $color-accent--2;

  &:hover {
    color: #fff;
    background-color: $color-accent--1;
  }

  &.Button--readOnly {
    background-color: rgba($color-accent--2, 0.7);
  }

  &.Button--readOnly:hover {
    color: #fff;
    background-color: rgba($color-accent--2, 0.7);
  }
}

.Button--appearance-secondary {
  color: $color-accent--2;
  background-color: #fff;
  box-shadow: inset 0 0 0 0.1em $color-accent--2;

  &:hover {
    color: #fff;
    background-color: $color-accent--2;
  }

  &.Button--readOnly:hover {
    color: $color-accent--2;
    background-color: #fff;
    box-shadow: inset 0 0 0 0.1em $color-accent--2;
  }
}

.Button--size-sm {
  font-size: font-size(sm);
}

.Button--size-md {
  font-size: font-size(md);
}

.Button--iconOnly {
  padding: 0.6em 0.7em;
}

.Button--unstyled {
  margin: 0;
  padding: 0;
  color: inherit;
  background: inherit;
  font: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

.Button--readOnly {
  cursor: auto;
}

.Button--icon > * {
  margin-right: gutter(xs);
}

/**
 * <ButtonGroup/>
 *
 * Useful when we want a collection of buttons in a group. See
 * src/stories/ButtonGroup.jsx for implementations.
 */

.ButtonGroup {
  display: flex;
  align-items: center;
}

.ButtonGroup--align-left {
  justify-content: flex-start;
}

.ButtonGroup--align-center {
  justify-content: center;
}

.ButtonGroup--align-right {
  justify-content: flex-end;
}

.ButtonGroup--fill .Button {
  flex: 1;
}

$buttonGroupGutterSizes: sm, md, lg, xl;

@each $size in $buttonGroupGutterSizes {
  .ButtonGroup--gutter-#{$size} {
    &.ButtonGroup--align-left {
      .Button {
        margin-right: gutter($size);

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.ButtonGroup--align-center {
      .Button {
        margin: 0 gutter($size)/2;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.ButtonGroup--align-right {
      .Button {
        margin-left: gutter($size);

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
