@import "config.variables";
@import "config.functions";

/**
 * <CompanyPage />
 * A simple wrapper for the company Detail page.
 */

.CompanyPage {
  // overriding container min width for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}

.CompanyPage-company {}

.CompanyPage-name {
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
  margin: gutter(md) 0;
}
