@import "config.variables";
@import "config.functions";

.WelcomeBack {
  display: flex;
  align-items: center;
  padding: 0 gutter(sm) gutter(sm) gutter(sm);
}

.WelcomeBack-icon {
  margin: 0 gutter(sm) 0 0;
}

.WelcomeBack-text {
  color: $color-grey--1;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.WelcomeBack--appearance-dark {
  .WelcomeBack-text {
    color: $color-grey--1;
  }
}

.WelcomeBack--appearance-light {
  .WelcomeBack-text {
    color: #fff;
  }
}
