@import "config.variables";
@import "config.functions";

.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.List-item {
  display: block;
  margin: 0 0 gutter(md) 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}
