@import "config.variables";
@import "config.functions";

/**
 * <ArchitecturePackagePackageTool />
 */

.Architecture-package-tool-button {
  visibility: hidden;
  margin-left: gutter(xs);
  line-height: 0;
}
