@import "config.variables";
@import "config.functions";

/**
 * <Architecture />
 * The visual convention for architectures is a gray background.
 */

.Architecture {
}

/**
 * <ArchitectureContent />
 *
 * Wrapper for a full-page architecture.
 */

.ArchitectureContent-architecture {
  padding: gutter(xl) gutter(xx);
  min-height: 100%;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.ArchitectureContent-architecture .Architecture-content {
  padding: gutter(lg) gutter(xl);
  background-color: $color-grey--7;
}

/**
 * <ArchitectureStatus />
 *
 * This displays the status of the architecture, and lives just above the title.
 * Status is for displaying the published date, or other similar metadata.
 */

.Architecture-status {
  margin: 0 0 gutter(md) 0;
}

/**
 * <ArchitectureHeader />
 */

.Architecture-header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: gutter(md);
}

.Architecture--sm .Architecture-header {
  margin-bottom: gutter(sm);
}

.Architecture-title {
  display: block;
  width: 100%;
  flex: 1;
  color: $color-grey--3;
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);

  &::placeholder {
    color: $color-grey--5;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.Architecture--sm {
  .Architecture-title {
    color: $color-grey--3;
    font-size: font-size(sm);
    font-weight: 700;
    line-height: line-height(sm);
  }

  .Architecture-title--untitled {
    color: $color-grey--5;
  }
}

.Architecture--disabled .Architecture-title {
  opacity: 0.3;
  cursor: default;
}

/**
 * <ArchitectureActions />
 */

.Architecture-actions {
  display: flex;

  > .Dropdown {
    margin-left: gutter(sm);

    &:first-child {
      margin-left: 0;
    }
  }
}

.Architecture-action {
}

.Architecture-action-content {
  min-width: 21rem;
}

/**
 * <ArchitectureTree />
 */

.Architecture-tree {
  position: relative;
  z-index: 2;
}

.Architecture--disabled .Architecture-tree {
  opacity: 0.3;
}

/**
 * <ArchitecturePackages />
 */

.Architecture-packages {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * <ArchitecturePackage />
 */

.Architecture-package {
  margin: gutter(xs)/2 0;
  padding: 0;
  font-size: font-size(sm);
  line-height: line-height(lg);
}

.Architecture-package-wrapper {
  display: flex;
  align-items: center;
}

.Architecture-package-content {
  display: flex;
  align-items: center;
  padding-top: gutter(xs)/2;
  padding-bottom: gutter(xs)/2;
  flex: 1;
}

// @note: let's hope people don't indent more than 99 times...
@for $i from 0 to 99 {
  .Architecture-packages--depth-#{$i} .Architecture-package-content {
    padding-left: gutter(lg) * $i + gutter(xs)/2;
  }
}

.Architecture-package-wrapper--isHovered .Architecture-package-content {
  background-color: rgba($color-accent--2, 0.1);
}

.Architecture-package-wrapper--isHovered .Architecture-package-tool-button {
  visibility: visible;
}

.Architecture-package-wrapper--commentIcon .Architecture-package-tool-button--comment {
  visibility: visible;
}

.Architecture-package-wrapper--referenceIcon .Architecture-package-tool-button--reference {
  visibility: visible;
}

.Architecture-package-icon {
  display: flex;
  justify-content: center;
  margin-right: gutter(md);
  flex: 0 0 0.8rem; // @note: this is the width of the largest icon
  width: 0.8rem;
}

.Architecture-package-input {
  position: relative;
  flex: 1;
}

.Architecture-package-text {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  color: $color-grey--3;

  &:active,
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grey--5;
  }
}

.Architecture-package-text--linked {
  font-weight: 700;
}

.Architecture-package-text--references {
  font-style: italic;
}

.Architecture-package-text--highlighted {
  padding: 0 gutter(xs);
  background-color: rgba($color-accent--2, 0.2);
}

.Architecture--disabled .Architecture-package-text {
  cursor: default;
}

/**
 * <ArchitecturePackageLinks />
 */

.Architecture-package-links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  pointer-events: none;

  &::before {
    // display: inline-block;
    color: rgba(0, 0, 0, 0);
    content: attr(data-term);
  }
}

/**
 * <ArchitecturePackageLink />
 */

.Architecture-package-link {
  display: inline-block;
  margin: 0 0 gutter(md) gutter(xs)/2;
}

.Architecture-package-link-icon {
  top: 0;
  pointer-events: auto;
}
