@mixin break($size) {
  $breakpoints: (
    sm: 480px,
    md: 760px,
    lg: 1020px
  );

  @if (map-has-key($breakpoints, $breakpoint)) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "$breakpoint doesn't exist in $breakpoints.";
  }
}
