@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/robotoslab-light.woff2') format('woff2'),
       url('fonts/robotoslab-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/robotoslab-regular.woff2') format('woff2'),
       url('fonts/robotoslab-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/robotoslab-bold.woff2') format('woff2'),
       url('fonts/robotoslab-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/sourcesanspro-light.woff2') format('woff2'),
       url('fonts/sourcesanspro-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/sourcesanspro-regular.woff2') format('woff2'),
       url('fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/sourcesanspro-bold.woff2') format('woff2'),
       url('fonts/sourcesanspro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
