@import "config.variables";
@import "config.functions";

/**
 * <CardList />
 * A list of cards.
 */

.CardList {}

.CardList-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.CardList-loadMore {
  display: flex;
  justify-content: center;
  margin: gutter(md) 0;
}
