@import "config.variables";
@import "config.functions";

.LearningModuleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.LearningModuleSideNav {
  min-width: 10em;
  font-family: $font-secondary;
  background-color: $color-grey--7;
  text-transform: uppercase;
  overflow: auto;
}

.LearningModuleSideNav:first-child {
  padding-top: 2em;
}

.LearningModule {
  overflow: auto;
}

.LearningModule-column {
  margin: gutter(md) gutter(xx)*2 gutter(md) gutter(xx)*2;
}

.LearningModule--section {
  padding-top: 2em;
}

.LearningModule--video {
  display: flex;
  width: 100%;
}

.LearningModule--no-video {
  padding: gutter(xl) gutter(md);
  text-align: center;
  display: flex;
  align-items: center;
  background-color: $color-grey--7;
  color: $color-accent--2;
}

.LearningModule--header {
  padding-bottom: 1em;
  color: $color-accent--2;
}

.LearningModule--tab {
  padding: 1.5em;
  cursor: pointer;
}

.LearningModule--tab:hover {
  color: $color-accent--2;
}
