@import "config.variables";
@import "config.functions";

.Navigation {
}

.Navigation-items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navigation--align-right .Navigation-items {
  justify-content: flex-end;
}

.Navigation-item {
  margin: 0 0 0 gutter(sm);
  padding: 0 0 0 gutter(sm);
  color: #fff;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  border-left: solid 0.1rem #fff;

  &:first-child {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.Navigation-link {
  display: block;
  margin: 0;
  color: #fff;

  &:hover {
    color: #fff;
  }
}
