@import "config.variables";
@import "config.functions";

.Heading {
  color: $color-grey--1;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.Heading--level-1 {
  margin: 0 0 gutter(xl) 0;
  color: $color-grey--1;
  font-size: font-size(lg);
}

.Heading--level-2 {
  margin: 0 0 gutter(lg) 0;
  color: $color-accent--2;
  font-size: font-size(md);
}

.Heading--level-3 {
  margin: 0 0 gutter(md) 0;
  font-size: font-size(sm);
}
