@import "config.variables";
@import "config.functions";

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: gutter(xx);
  width: 100vw;
  min-width: $container-max;
  height: 100vh;
}

.Modal--padding {
  padding: gutter(xl) gutter(xx);
}

.Modal-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#fff, 0.5);
  backdrop-filter: blur(1px);
}

.Modal-content {
  position: relative;
  z-index: 1;
  overflow: auto;
  max-height: 100%;
  max-width: 75vw;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.Modal-close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 1;
}

.Modal-title {
  margin: 0;
  color: $color-grey--3;
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
}

.Modal-text {
  margin: gutter(md) 0 0 0;
  font-family: $font-secondary;
  font-size: font-size(md);
  line-height: line-height(md);
}

.Modal-actions {
  padding: gutter(xl) 0 0 0;
}

.Modal-progress {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
