@import "config.variables";
@import "config.functions";

.ArchitectureReview {
}

.ArchitectureReview-architecture {
  padding: gutter(xl) gutter(xx);
  min-height: 100%;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.ArchitectureReview-tabs {
  padding: gutter(xl) 0;
}
