@import "config.functions";
@import "config.variables";

.Checkbox-item {
  position: absolute;
  visibility: hidden;
  margin-left: -9999px;
}

.Checkbox-item-label {
  font-family: $font-secondary;
  display: block;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.Checkbox-label-text {
  margin-left: gutter(xs);
}

.Checkbox {
  display: inline-block;
}

.Checkboxes .Checkbox {
  margin-right: gutter(sm);
}

.Checkboxes--noWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Checkboxes--noWrap .Checkbox {
  white-space: nowrap;
}
