@import "config.variables";
@import "config.functions";

.CompanyCard {}

.CompanyCard-card-capabilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: gutter(sm) 0;
}

.CompanyCard-card-capability {
  margin: 0 gutter(xs) gutter(sm) 0;
}
