@import "config.variables";
@import "config.functions";

// red to orange
$color-priority--1: #dc493a;
$color-priority--2: #ffa630;

/**
 * <Problem />
 * The main Problem component.
 */

.Problem {}

.Problem-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Problem-customer {
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
  margin-bottom: gutter(xxs);
}

.Problem-categories {}

.Problem-categories-category {
  font-size: font-size(sm);
  font-weight: 700;
  color: $color-grey--3;
  margin-bottom: gutter(xxs);
}

.Problem-header-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.Problem-need {
  font-family: $font-secondary;
  font-size: font-size(sm);
  font-style: italic;
  color: $color-grey--3;
  white-space: nowrap;
}

.Problem-priority {
  font-family: $font-secondary;
  color: $color-grey--3;
  white-space: nowrap;
}

.Problem-description {
  margin: gutter(md) 0;
}

.Problem-description-text {
  margin: 0;
  font-size: font-size(md);
  line-height: line-height(lg);
  color: $color-grey--3;
}

.Problem--priorityHigh .Problem-priority {
  color: $color-priority--1;
}

.Problem--priorityMedium .Problem-priority {
  color: $color-priority--2;
}

.Problem--sm .Problem-customer {
  font-size: font-size(md);
}

.Problem--sm .Problem-description-text {
  font-size: font-size(sm);
  line-height: line-height(md);
}

.Problem--sm .Problem-categories-category {
  display: none;
}

.Problem--sm .Problem-need {
  display: none;
}

.Problem--sm .Problem-priority {
  font-size: font-size(sm);
}
