@import "config.variables";
@import "config.functions";

$tooltip-caret-w: gutter(sm);
$tooltip-caret-h: $tooltip-caret-w/2;

.Tooltip {
  position: relative;
}

.Tooltip-wrapper {
}

.Tooltip-content {
  position: absolute;
  z-index: 1000;
  padding: gutter(xs)/2 gutter(xs);
  color: #fff;
  background-color: $color-grey--1;
  font-family: $font-secondary;
  font-size: font-size(xxs);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  white-space: nowrap;
  pointer-events: none;
}

.Tooltip-content--top-distance-xs {
  bottom: 80%;
}

.Tooltip-content--top-distance-sm {
  bottom: 100%;
}

.Tooltip-content--top-distance-md {
  bottom: calc(100% + #{$tooltip-caret-h} + #{gutter(xs)});
}

.Tooltip-content::after {
  position: absolute;
  bottom: -$tooltip-caret-h;
  display: block;
  width: $tooltip-caret-w;
  height: $tooltip-caret-h;
  border-top: solid $tooltip-caret-h $color-grey--1;
  border-right: solid $tooltip-caret-w/2 transparent;
  border-left: solid $tooltip-caret-w/2 transparent;
  content: "";
}

.Tooltip-content.Tooltip-content--position-left {
  left: -$tooltip-caret-w/2;
}

.Tooltip-content--position-left::after {
  left: $tooltip-caret-w;
}

.Tooltip-content.Tooltip-content--position-right {
  right: -$tooltip-caret-w/2;
}

.Tooltip-content--position-right::after {
  right: $tooltip-caret-w;
}
