@import "config.variables";
@import "config.functions";

.Icon {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

/**
 * Icon display modifiers
 */

.Icon--display-inlineBlock {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.2em;
}

.Icon--display-block {
  display: block;
}

/**
 * Icon positional modifiers (used when alongside text)
 */

.Icon--position-right { margin-left: gutter(sm); }
.Icon--position-left { margin-right: gutter(sm); }
.Icon--position-superscript { float: left; }

/**
 * Icon transition modifiers
 */

[class*="Icon--rotate"] {
  transition: transform 150ms;
}

.Icon--rotate-0 {
  transform: rotate(0deg);
}

.Icon--rotate-90 {
  transform: rotate(90deg);
}

.Icon--rotate-180 {
  transform: rotate(180deg);
}

.Icon--rotate-270 {
  transform: rotate(270deg);
}

.Icon--flip {
  transform: scaleX(-1);
}
