@import "config.variables";
@import "config.functions";

.CustomersPage {
  // overriding container min width for now
  // page-by-page responsiveness; can change main $container-max eventually
  .Dashboard {
    min-width: $container-max-responsive;
  }
}

.CustomersPage-list {
  margin-bottom: gutter(lg);
  color: $color-grey--3;
  font-size: font-size(lg);
  font-weight: 700;
  background-color: #fff;
  padding: gutter(xx);
}
