@import "config.variables";
@import "config.functions";

/**
 * <CommentThread />
 */

.CommentThread {
}

.CommentThread-comments {
  border-bottom: solid 0.1rem $color-grey--7;
}

.CommentThread-reply {
}
