@import "config.variables";
@import "config.functions";

/**
 * <PitchbookIntersection />
 *
 * Root component for the Pitchbook ∩ Salesforce component.
 */

 .PitchbookIntersection {
  box-shadow: $box-shadow;
}

.PitchbookIntersection-title {
  margin: 0 0 gutter(md) 0;
  color: $color-grey--3;
  font-size: font-size(lg);
  font-weight: 700;
  line-height: line-height(sm);
}

/**
 * <PitchbookIntersection />
 *
 * A simple wrapper around the contents of the title, filter buttons,
 * matching text, and table.
 */

 .PitchbookIntersection-content {
  position: relative; // relative position for absolute <Loader />
  display: flex;
  flex-direction: column;
  padding: gutter(xl) gutter(xx);
  min-height: 100%;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.PitchbookIntersection-empty {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.PitchbookIntersection-empty-header {
  font-family: $font-secondary;
  color: $color-accent--2;
  font-size: font-size(xl);
  margin-top: gutter(xxs);
}

.PitchbookIntersection-empty-description {
  width: 30%;
  font-size: font-size(sm);
  margin-bottom: gutter(lg);
}
.PitchbookIntersection-match-info {
  font-size: font-size(sm);
  color: #777;
  text-align: right;
}
